
/* Remove as margens */
html, body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}

/* Configuração do Banner*/
header{
    padding-top:14px;
    background-image: url(../assets/slides/slidebg1.jpg);
    height:900px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;    
    background-size:cover ;
    position: relative;
}
/*Configuração da Navegação */
nav{
    width: 1170px;
    height: 125px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0;
    z-index: 2;
    transition: all 0.2s ease
}
/*Logo na Nav*/
nav img{
    width: 175px;
    height: 75px;
    padding: 25px 30px 25px 15px; 
}
/*Conteiner dos links da Nav */
nav ul{
    width: 900px;
    height: 25px;
    display: flex;
    margin: 51px 0 55px 0; 
    padding-left: 30px;
}   
nav ul li{
    display: flex;
    margin: 0px 0 0px 40px;
    color: white;
    list-style: none;
}
/*Links na Nav*/
nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
/*Condição de Hover dos Links*/
.select a, nav ul li a:hover{
    text-decoration: line-through 2px;
    color: #E1AB30;
    transition:linear 0.2s;
}
/*Ordem Numerica dos links*/
nav span{
    font-size: 11px;
    font-weight: 14px;
    color: rgb(134,134,134);
    margin-right: 3px;
    margin-top: 5px;
    float: left;
    font-family: "Montserrat", sans-serif;
}
/*Barra Amarela*/
.yellow-bg{   
    position: absolute;
    bottom: 0;
    width: 833px;
    height: 438px; 
    background-image: url(../assets/slides/yellow-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
/*Texto da Barra Amarela*/
.yellow-bg span{  
    margin-left: 50px; 
    width: 100px;
    height: 25px;
    font-size: 24px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    

}
/*Titulo dda Barra Amarela*/
.yellow-bg h1{  
    color: white;
    font-size: 64px;
    font-weight: 700;
    width: 100px;
    margin: 0 0 40px 50px;
    font-family: "Montserrat", sans-serif;
}
/* Botões da Barra Amarela*/
.y-bgButtons{
    font-display: flex;
    flex-direction: row;
    margin-left: 40px;
    position: absolute;
    bottom: 25px;
    left: 10px;
}
.y-bgButtons button{
    background: none;
    border: 0;
    
}
/*Regua*/
.regua{
    background-image: url(../assets/divider-dark.png);
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
}
#OurProjects ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#OurProjects ul li{
    margin-left: 100px;
    width:fit-content;
    height: fit-content;
}
#OurProjects ul li:first-child{
    margin: 0;
}
#OurProjects ul li:last-child{
    margin-left: 50px;
}
#OurProjects .citationspeech{
    margin-top: 40px;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    width: 930px;
    font-family: "Roboto Slab", serif;
}
#OurProjects .citation{
    display: flex;
    justify-content: center;
    align-items: center;
}
#OurProjects .OurProjectsTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.OurProjectsTitle h4{
    color: #E1AB30;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    font-size:24px;
    font-weight: 300;
    letter-spacing: 11px;
    margin: 110px 0 0 0;
}
.OurProjectsTitle h1{
    font-family: Montserrat, sans-serif;
    font-size: 85px;
    font-style: italic;
    font-weight: 700;
    margin:0 0 12px 0;
    background-image: url(../assets/black-wave.png);
    background-position-x: 50%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    
}
.TitleSpan{
    font-size: 20px;
    font-style: italic;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-top: 0;
}
.ProjectsTable{
    display: block;
    width: 80%;
    margin-left: 16.5%;
    margin-top: 48px;
    justify-content: center;
    align-items: center;

}
.project{
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 480px;
    margin: 0 15px 60px 15px;
    background-position: center;
}

.project-1{
    background-image: url(../assets/project-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.project-2{
    background-image: url(../assets/project-2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.project-3{
    background-image: url(../assets/project-3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.project-4{
    background-image: url(../assets/project-4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.project a{
    height: 100%;
    width: auto;
}
.project::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition:ease-in-out 0.5s;
    background-image: url(../assets/plus.png);
    background-position:262.5px 192.5px;
    background-repeat: no-repeat;
    visibility: hidden;
}
.project:hover::before{
    visibility: visible;
    background-position:262.5px 202.5px;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.8);
}

.project:hover{
    transition:10s ease-in-out;   
    background-position: center;
    background-size: 150%;
}

.detail{
    justify-content: center;
    position: absolute;
    float: left;
    bottom: 0px;
    right: 5%;
    width: 90%;
    height: 100px;
    background-color: white;
    text-align: center;
}

.detail span{
    float: left;
    margin: 0 5px 0 50px;
    color: rgb(127, 127, 127);
    font-family: Montserrat, sans-serif;
    font-size: 90px;
    font-style: italic;
    text-align: center;
}
.detail h6{
    margin: 30px 0 0 0;
    font-size: 18px;
    font-style: italic;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}
.detail p{
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-style: italic;
    text-align: left;
}

.project:hover .detail span, .project:hover .detail h6{
    color: #E1AB30;
    transition: ease-in 0.1s;
}
.AllProjectsButtom{
    background-color: black;
    border-radius: 40px;
    width: 200px;
    height: 20px;
    color: white;
}
#Trabalhos{
    background-color: blue;
}

.montserrat-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
